{lib_dirs, [
    "deps",
    "apps"
]}.

{sub_dirs, [
    "apps/dev_info_db",
    "apps/device_service",
    "apps/device_info",
    "rel",
    "deps"
]}.

{deps, [
    {cqerl, "0.8.0", {git, "https://github.com/matehat/cqerl.git"}},
    {cowboy, "2.0.0-pre.1", {git, "https://github.com/ninenines/cowboy.git"}}
]}.

{escript_incl_apps, [getopt]}.

{erl_opts, [
            debug_info, 
            warn_missing_spec,
            {parse_transform, lager_transform}
           ]}.

{eunit_opts, [verbose]}.
