{sub_dirs, ["apps/dev_info_db",
            "apps/device_info",
            "rel"]}.

{lib_dirs, ["deps",
            "apps"]}.
 
{deps, [
    {cqerl, ".*", {git, "https://github.com/matehat/cqerl.git"}},
    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git"}}
]}.

{eunit_exclude_deps, true}.
