{sub_dirs, ["apps/dev_info_db",
            "apps/device_info",
            "rel"]}.

{lib_dirs, ["deps",
            "apps"]}.
 
{deps, [
    {cqerl, "0.8.0", {git, "https://github.com/matehat/cqerl.git"}},
    {cowboy, "2.0.0-pre.1", {git, "https://github.com/ninenines/cowboy.git"}},
    {jiffy, "0.13.3", {git, "https://github.com/davisp/jiffy.git"}},
    {eco, ".*", {git, "https://github.com/aerosol/eco.git"}}
]}.

{eunit_exclude_deps, true}.
